apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nodejs-app
  template:
    metadata:
      labels:
        app: nodejs-app
    spec:
      containers:
        - name: nodejs-app
          image: my-nodejs-app:latest   # or node:20 if not using custom image
          imagePullPolicy: Never        # <<< ADD THIS LINE
          ports:
            - containerPort: 3000

